*{
    font-family: 'Roboto';

    --paddingLR: 32px;
    --paddingTB: 16px;
}
nav{
    position: fixed;
    z-index: 40000;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    background-color: rgba(0,0,0,1);
}
    nav ul li{
        margin-left: 0px !important;
        margin-right: 20px !important;
    }
        nav ul li a{
            color: white;
            text-decoration: none;
        }
.header{
    position: relative;
    box-sizing: border-box;
    min-height: 400px;
    background: url("..\\images\\wallpaper.jpg") no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
    .header h4{
        box-sizing: border-box;
        position: absolute;
        left: 0px;
        bottom: 100px;
        z-index: 2000;
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        color: white;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }
    .header .title{
        box-sizing: border-box;
        position: absolute;
        left: 0px;
        bottom: 20px;
        z-index: 2000;
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        color: white;
        font-size: 62px;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    }

.black{
    overflow: hidden;
    padding: var(--paddingTB) var(--paddingLR);
    box-sizing: border-box;
    min-width: 100%;
    min-height: 400px;
    max-height: 400px;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
}

    .black img{
        margin-top: 90px;
    }


/*NAV*/
nav{
    display: inline-block;
    float: right;
}
    nav ul{
        margin: 0px;
        padding: 0px;
    }
        nav ul li{
            margin: 10px;
            margin-left: 20px;
            margin-right: 20px;
            cursor: pointer;
            color: lightgray;
            font-weight: bold;
            display: inline-block;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
        }
        nav ul li:hover{
            color: white;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
        }








/*IMAGES*/
.container-characters{
    position: relative;
    display: inline-block;
    padding-top: 20px;
    margin-top: 40px;
}
    .container-characters img{
        vertical-align: top;
    }
    .img-header-l{
        margin-left: 20px;
    }
    .img-header-m{
        position: absolute;
        left: 152px;
        top: -10px;
        z-index: 20000
    }
    .img-header-r{
        margin-top: -20px;
        margin-left: 5px;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
    }


    